/// Componente imagen-detalle

.imagen-detalle{
      /*disposicion*/
      grid-column: 1 / 2;
      grid-row: 1 / 3;

      /*tamaño*/
      width: 100%;

      img{
            width: 100%;
            height: 100%;
      }

}