/// Componente maquinas

.maquinas{
      /*disposicion*/
      grid-row: 5 / 6;
      grid-column: 1 / 7;
      @include flexbox(column);

      /*margenes*/
      margin: $margen-comun;

      .maquinas-especificas{
            /*disposicion*/
            @include flexbox(column);

            /*margenes*/
            margin: $margen-comun;

            &-titulo{
                  //meter decoracion
            }
      }

      .maquina{
            &-contenido{
                  /*tamaño*/
                  width: 50%;
            }

            &-foto{
                  /*tamaño*/
                  width: 50%;

                  img{
                        /*tamaño*/
                        width: 100%;
                  }
            }
      }

      .maquina:nth-child(even){
            /*disposicion*/
            @include flexbox(row);
      }

      .maquina:nth-child(odd){
            /*disposicion*/
            @include flexbox(row-reverse);
      }

      #pecho, #hombro, #pierna{
            /*tamaño*/
            height: 15vh;
      }
}

@media (max-width: 600px) {
      .maquinas{
            .maquina{
                  /*disposicion*/
                  flex-direction: column-reverse !important;
                  
                  /*margenes*/
                  margin-bottom: $margen-comun !important;
            }
      }
}